
	<% include inc/layouts/in/heading.ejs %>
	<% include inc/layouts/in/header.ejs %>

	<div class="container">

		<div class="grey lighten-2">
			<img src="/images/ideabox3.png" alt="an idea box banner" id="banner">
		</div>

		<div>
			<section><h3 id="view-title"><%= Title %></h3></section>
			<section><h5><%= Description %></h5></section>
		</div>

		<div>
			<button id="upvotes">Upvote</button>
			<button id="downvotes">Downvote</button>
			<div>
				<textarea></textarea>
				<button>Comment</button>
			</div>
		</div>

		<div class="comments"></div>
	</div>

	<% include inc/layouts/in/footer.ejs %>