	<% include inc/layouts/in/heading.ejs %>
	<% include inc/layouts/in/header.ejs %>

	<div class="container">

		<div>
			<section><h3 id="view-title"><%= Title %></h3></section>
			<section><h5><%- Description %></h5></section>
		</div>

		<div>
			<button class="btn green lighten-1" id="upvotes">Upvote</button>
			<button class="btn red lighten-1" id="downvotes">Downvote</button>
			<div>
				<textarea id="comment"></textarea>
				<button class="btn light-blue darken-1 right" id="make-comment">Comment</button>
			</div>
		</div>

		<div id="comment-section">
			<ul class="collection with-header">
	        	<li class="collection-header"><h4>Comments</h4></li>
	        	<li class="collection-item" id = "comment-field"></li>
	    	</ul>
		</div>
	    
	</div>

	<% include inc/layouts/in/footer.ejs %>