
	<% include inc/layouts/in/heading.ejs %>
	<% include inc/layouts/in/header.ejs %>

	<div class="container">
		<div class="row">
			<div class="col s3">
				<section><i class="material-icons">thumb_up</i></section>
				<section><i class="material-icons">thumb_down</i></section>
			</div>
			<div class="col s9">
				<section>{{title}}</section>
				<section>{{description}}</section>
			</div>
		</div>
	</div>
</body>
</html>