	<% include inc/layouts/in/heading.ejs %>
	<% include inc/layouts/in/header.ejs %>

	<div class="my-container"><!--container-->
		<div class="grey lighten-2">
			<img src="/images/idea-banner.jpg" alt="an idea box banner" id="banner">
			<a href="#modal1" class="modal-trigger waves-effect waves-light btn blue" id="share-idea">Share Your Idea</a>
		</div>

		<div class="divider"></div>


		<div class="row">
			<div class="col m4">
				<h5 class="my-blue">Ideas</h5>
			</div>
			<div class="col m4 push-m5 head-room">
				<!--<a href="#modal1" class="modal-trigger waves-effect waves-light btn">Share Your Ideas</a>-->
			</div>

			<!-- Modal Structure -->
			<div id="modal1" class="modal modal-fixed-footer">
				<div class="modal-content">
				    <h4>Share Your Idea?</h4>
				    <div class="idea-title">
				    	<p>Title</p>
				    	<input type="text" id="title">
				    </div>
				    <div class="idea-description">
				    	<p>Description</p>
				    	<textarea id="description"></textarea>
				    </div>
				</div>
				<div class="modal-footer">
				  	<button id="send_btn" class="modal-action modal-close waves-effect waves-green btn-flat">Send</button>
				    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
				   
				</div>
			</div><!-- modal modal-fixed-footer-->

		</div><!--row-->

		<div class="divider mgb"></div>

		<section>
			<table class="striped" id="idea-list">
				<tbody></tbody>						
			</table>
		</section>
		
	</div><!--container-->

	<% include inc/layouts/in/footer.ejs %>
