body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  
}
.body {
	padding: 50px;
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url("/images/todo_background.jpg");
}
a {
  color: #00B7FF;
}

/*
 * My stylesheet
 */

 .plaque {
 	display: block;
 	position: relative;
 	text-align: center;
 	opacity: 0.93;
 }
 .white-text {
 	color: rgb(255,255,255);
 	padding-bottom: 0;
 }

 #new-sign {
 	padding: 10px;
 }

 .centralize {
 	margin-left: auto;
 	margin-right: auto;
 }

 #banner {
 	width: 100%;
 	max-height: 350px;
 }

 .head-room {
 	margin-top: 15px;
 }
 .my-blue {
 	color: #448aff;
 	margin-bottom: 0;
 }
 .logo-thumbnails {
 	width: 15%;
 	height: 15%;
 }

#share-idea {
	margin-top: -100px;
	margin-left: 5%;
}

#description {
	height: 200px;
}
.my-container {
	padding-left: 5%;
	padding-right: 5%;
}
.input-field {
	color: #f5f5f5;
}
#nav-top {
	padding-left: 10px;
}
#comment {
	margin: 10px 0 10px 0;
	height: 150px;
}
#comment-section {
	margin-top: 55px;
}
.mgb {
	margin-bottom: 15px;
}
.mgt {
	margin-top: 15px;
}
.teal-color {
	color: #4db6ac;
}
#welcome-string {
	padding-left: 10px;
}
.page-footer {
	background-color: #212121;
}
#footerText {
	color:#424242;
}
.my-container {
	min-height: calc(100vh - 70px);
}
.smaller-icon {
	font-size: 15px;
	margin-left: 5px;
}