<section class="content">

	<div class="z-depth-5 grey darken-4 card-panel plaque">
		<h4 class="white-text">IdeaBox gives you a</h3>
		<h4 class="white-text">platform to connect your idea to the world</h2>

		<h5 class="white-text">Idea box cards enables you to get validation of</h5>
		<h5 class="white-text">your idea in a simple, interactive and engaging way</h4>

		<a href="/signup" class="waves-effect waves-light btn head-room">Sign Up -- It's free button</a>

		<h6 id="new-sign" class="white-text">Already use IdeaBox? <a href="/login">Log In</a></h6>
	</div>

	<div class="z-depth-5 grey darken-4 card-panel plaque white-text">
		<div class="row">
			<div class="col s4">
	        	<i class="medium material-icons">reorder</i>
	        	<h6>Stack Your Ideas</h6>
	      	</div>
	      	<div class="col s4">
	        	<i class="medium material-icons">supervisor_account</i>
	        	<h6>Large Community</h6>
	      	</div>
	      	<div class="col s4">
	        	<i class="medium material-icons">schedule</i>
	        	<h6>Continuous Interaction</h6>
	      	</div>
		</div>
	</div>

</section>