	<footer>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="/javascripts/materialize.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyD7v_-dVadUGMCpXW1WvhG7inxn-RU52BY",
	    authDomain: "ideabox-c28d8.firebaseapp.com",
	    databaseURL: "https://ideabox-c28d8.firebaseio.com",
	    projectId: "ideabox-c28d8",
	    storageBucket: "ideabox-c28d8.appspot.com",
	    messagingSenderId: "419342074689"
	  };
	  firebase.initializeApp(config);
	</script>

	<script type="text/javascript" src="/javascripts/submit_ideas.js"></script>
	<script type="text/javascript" src="/javascripts/display_ideas.js"></script>
	<script type="text/javascript" src="/javascripts/cast_vote.js"></script>
	<script type="text/javascript" src="/javascripts/submit_comment.js"></script>	
	<script type="text/javascript" src="/javascripts/display_comment.js"></script>	
	<script type="text/javascript" src="/javascripts/animation.js"></script>
</body>

</html>