 	<footer class="page-footer ">

          <div class="container ">

            <div class="row ">

              <div class="col l6 s12">

                <p class="white-text darken-2">Project Context</p>

                <p class="grey-text text-darken-1">Developed for the completion of the two weeks intensive botcamp training</p>

              </div>

              <div class="col l4 offset-l2 s12">

                <p class="white-text">Technology Stack</p>

                <ul>

                  <li><a class="grey-text text-darken-1" href="https://nodejs.org/en/">NodeJS</a></li>

                  <li><a class="grey-text text-darken-1" href="https://expressjs.com/">ExpressJS</a></li>

                  <li><a class="grey-text text-darken-1" href="https://facebook.github.io/react/">JQuery</a></li>

                  <li><a class="grey-text text-darken-1" href="http://materializecss.com/about.html">Materialize</a></li>

                  <li><a class="grey-text text-darken-1" href="https://firebase.google.com/">Firebase</a></li>

                </ul>

              </div>

            </div>

          </div>

      	<div class="footer-copyright ">

        	<div class="container " id="footerText">

        	© 2017 Copyright Duyile Tolulope Patrick 

        	</div>

      	</div>

    </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="/javascripts/materialize.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyD7v_-dVadUGMCpXW1WvhG7inxn-RU52BY",
	    authDomain: "ideabox-c28d8.firebaseapp.com",
	    databaseURL: "https://ideabox-c28d8.firebaseio.com",
	    projectId: "ideabox-c28d8",
	    storageBucket: "ideabox-c28d8.appspot.com",
	    messagingSenderId: "419342074689"
	  };
	  firebase.initializeApp(config);
	</script>
	<script src="/javascripts/markdown.js"></script>
	<!--https://cdnjs.cloudflare.com/ajax/libs/showdown/<version tag>/showdown.min.js-->
	<script type="text/javascript" src="/javascripts/markdown.js"></script>
	<script type="text/javascript" src="/javascripts/submit_ideas.js"></script>
	<script type="text/javascript" src="/javascripts/display_ideas.js"></script>
	<script type="text/javascript" src="/javascripts/cast_vote.js"></script>
	<script type="text/javascript" src="/javascripts/submit_comment.js"></script>	
	<script type="text/javascript" src="/javascripts/display_comment.js"></script>	
	<script type="text/javascript" src="/javascripts/animation.js"></script>
</body>

</html>