<html>
<head>
	<title>Idea Box</title>
	<link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>